.App {
  margin-top: 1%;

  width: 100%;
  height: 100%;
}





.one {
  background: lightgray;
  margin-left: 5%;
  width: 22%;
  float: left;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 20px;
}
.circle1 {
  height: 15px;
  width: 15px;
  background-color: lightcoral;
  border-radius: 50%;
  display: inline-block;
}
a {
  display: block;
  color: white;
  text-align: left;
  padding: 0px 95px;
  text-decoration: none;
  font-weight: 100;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:hover {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 100;
  text-decoration: underline;
  text-decoration-thickness: 10px;
}

.circle2 {
  height: 15px;
  width: 15px;
  background-color: mediumaquamarine;
  border-radius: 50%;
  display: inline-block;
}
.circle3 {
  height: 15px;
  width: 15px;
  background-color: DarkKhaki;
  border-radius: 50%;
  display: inline-block;
}
.ones {
  border: 1px solid black;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.graph {
  margin-left: 5%;
  float: left;
  background: white;
  border: 1px solid black;
  border-radius: 20px;
}
.homeButton {
  background-color: #828fa2;
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  border-radius: 20px;
}

.circleButton {
  background-color: #828fa2;
  border: none;
  color: white;
  text-align: center;
  padding: 5%;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  border-radius: 50%;
}

.two {
  background: white;
  width: 1300px;
  border: 1px solid black;
  border-radius: 20px;
}
