* {
  background-color: #828FA2;
  font-family: 'Open Sans', sans-serif;
  color: lightgray;
}

svg {
  background-color: #FFF6EC;
  border-radius: 5px;
  margin-left: 8px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.viz {
  margin-top: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[role=navigation] {
    overflow: auto !important
}


/* custom bootstrap styling */

.card {
  margin-bottom: 1em;
  margin-top: 1em;
}




/* BAR CHART - d3 and svg styling  */
.bar:hover {
  fill: black;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 1em;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tick text {
  fill: #635F5D;
  font-size: 1em
}

.tick line {
  stroke: #C0C0BB;
}

text.axis-label {
  fill: #8E8883;
  font-size: 2.5em;
}

text.title {
  fill: #635F5D;
  font-size: 2.75em;
}

text.subtitle {
  fill: #635F5D;
  font-size: 1.5em;
}




/* WORLD MAP: d3 map css */
/* body {
  margin: 0px;
  overflow: scroll;
}

.sphere {
  fill: #DCDCDC;
}

.country {
  fill: #D3D3D3;
  stroke: black;
  stroke-width: 0.05
}

.country:hover {
  fill: #E0FFFF
}

.country-circle:hover, circle:hover {
  fill: #E0FFFF
}

.country-circle, circle {
  fill-opacity: 0.4;
  stroke: black;
  stroke-width: 0.05;
}

.legend-title {
  fill: #635F5D;
  text-anchor: middle;
}

.tick-map text {
  fill: #635F5D;
  font-size: .75em
} */


/* Color: Circles, Legends, and Buttons */

select {
  width: 100%
}

/* Vertical buttons on Map Input */
.block {
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 4px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: lightgray;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}


.block:focus {
  /* fill-opacity: 50%; */
  outline: none;
  box-shadow: none;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid black;
}

button.cases {
  background-color: #306FAA;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* button.casesPerOneMillion {
  background-color:  #9A3E25;
} */
/* button.todayCases {
  background-color: #B37055;
}
button.deaths {
  background-color: #BA5F06;
} */
button.deathsPerOneMillion {
  background-color: #992222;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* button.todayDeaths {
  background-color: #F6B656;
} */
button.activee {
  background-color: #DEBB3D;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* button.activePerOneMillion {
  background-color: #F2DA57;
} */
button.recovered {
  background-color: #3AA65F;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.daily {
  background-color: #CB7B7B;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.daily_deaths {
  background-color: #978AE3;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* button.recoveredPerOneMillion {
  background-color: #5C8100;
}
button.critical {
  background-color: #137B80;
}
button.criticalPerOneMillion {
  background-color: #42A5B3;
}
button.tests {
  background-color:  #684664;
}
button.testsPerOneMillion {
  background-color: #8E6C8A;
}
button.population {
  background-color: #B396AD;
}
button.reset {
  background-color: #7C715E;
} */



button.dark {
  outline: none;
  box-shadow: none;
  display: block;
  width: 90%;
  margin-left: 20px;
  border: none;
  color: white;
  background-color: #112353;
  font-size: 22px;
  padding: 12px;
  cursor: pointer;
  text-align: center;
  margin-top: 1em;
  border-radius: 20px;
  text-decoration: none;
}

button.dark:disabled {
  background-color: lightgray;
}

button.nav {
  display: inline-block;
  border: 1px solid white;
  color: white;
  background-color: black;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}


/* collapsible menu for MapInput on Home Page */
/* .collapsible1, .collapsible2, .collapsible3 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible1:hover, .collapsible2:hover, .collapsible3:hover {
  background-color: #ccc;
}

.content1, .content2, .content3 {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
} */