* {
  background-color: #828FA2;
  font-family: 'Open Sans', sans-serif;
  color: lightgray;
}

svg {
  background-color: #FFF6EC;
  border-radius: 5px;
  margin-left: 8px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.viz {
  margin-top: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[role=navigation] {
    overflow: auto !important
}




.card {
  margin-bottom: 1em;
  margin-top: 1em;
}



.bar:hover {
  fill: black;
}




.tick text {
  fill: #635F5D;
  font-size: 1em
}

.tick line {
  stroke: #C0C0BB;
}

text.axis-label {
  fill: #8E8883;
  font-size: 2.5em;
}

text.title {
  fill: #635F5D;
  font-size: 2.75em;
}

text.subtitle {
  fill: #635F5D;
  font-size: 1.5em;
}




select {
  width: 100%
}

/* Vertical buttons on Map Input */
.block {
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 4px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: lightgray;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}


.block:focus {
  /* fill-opacity: 50%; */
  outline: none;
  box-shadow: none;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid black;
}

button.cases {
  background-color: #306FAA;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* button.casesPerOneMillion {
  background-color:  #9A3E25;
} */
/* button.todayCases {
  background-color: #B37055;
}
button.deaths {
  background-color: #BA5F06;
} */
button.deathsPerOneMillion {
  background-color: #992222;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* button.todayDeaths {
  background-color: #F6B656;
} */
button.activee {
  background-color: #DEBB3D;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* button.activePerOneMillion {
  background-color: #F2DA57;
} */
button.recovered {
  background-color: #3AA65F;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.daily {
  background-color: #CB7B7B;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.daily_deaths {
  background-color: #978AE3;
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}




button.dark {
  outline: none;
  box-shadow: none;
  display: block;
  width: 90%;
  margin-left: 20px;
  border: none;
  color: white;
  background-color: #112353;
  font-size: 22px;
  padding: 12px;
  cursor: pointer;
  text-align: center;
  margin-top: 1em;
  border-radius: 20px;
  text-decoration: none;
}

button.dark:disabled {
  background-color: lightgray;
}

button.nav {
  display: inline-block;
  border: 1px solid white;
  color: white;
  background-color: black;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}